* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
}
header {
    width: 100vw;
    display: flex;
    height: 5vh;
    background-color: #FEFEFE;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: #5B9686;


}
#logo{
   
    color: #469E85;
}

a {
    text-decoration: none;
    color: black;
}
header > div > button {
    border: none;
    background-color: #FEFEFE ;
    font-weight: bold;
}

#title {
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

header > a {
    padding-bottom: 15px;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #EFF2F1;
}

#cart-page {
    display: flex;
    height: 40vh;
    width: 80vw;
    background-color: #459E85;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FEFEFE;
    border-radius: 10px;
   

}

.trip-item {
    display: flex;
    background-color: #EFF2F1;
    justify-content: space-around;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 5px;
}

#footer {
    display: flex;
    background-color: #00153E;
    color: white;
    width: 100%;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;


}

#footer > p {
    padding-left: 40px;
}

#footer > button {
    margin-right: 40px;
    background-color: #5C9283;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    margin-top: 5px;
    color: white;
}

.delete {
    background-color: #5C9283;
    color: white;
    border-radius: 3px;
    border: none;
}

#footer > button:hover {
    cursor: pointer;
}


.delete:hover {
    cursor: pointer;
}

header {
    width: 100vw;
    display: flex;
    height: 5vh;
    background-color: #FEFEFE;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: #5B9686;


}

.booking-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #EFF2F1;
}

#my-bookings {
    display: flex;
    flex-direction: column;
 
    padding: 10px;
    border-radius: 5px;
}